// COLORS
$primary-color: #4DA0B0;
$secondary-color: #F29492 ;

//00cdac

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #114357; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
